.homepage-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.main-content {
    flex: 3;
    padding: 20px;
    overflow-y: auto;
}

.sidebar {
    flex: 1;
    padding: 20px;
    background-color: #f8f8f8;
    border-left: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.person-selector {
    margin-bottom: 20px;
}

/* Add responsive styles */
@media (max-width: 768px) {
    .homepage-container {
        flex-direction: column;
    }

    .main-content {
        flex: none;
        width: 100%;
        padding: 10px;
    }

    .sidebar {
        display: none; /* Hide sidebar on mobile view */
    }
}

@media (orientation: landscape) and (max-width: 768px) {
    .homepage-container {
        flex-direction: row;
    }

    .main-content {
        flex: 1;
        padding: 10px;
    }

    .sidebar {
        display: none; /* Hide sidebar on landscape mobile view */
    }
}