.login-container {
    background-color: #f7f7f7;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.login-box {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    box-sizing: border-box; /* Ensure padding is included in the width */
}

.tab-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.tab-button.active {
    background-color: #4caf50;
    color: white;
}

.tab-button:not(.active) {
    background-color: #a5d6a7;
    color: #333;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-content {
    display: none;
}

.form-content.active {
    display: block;
}

.form-title {
    text-align: center;
    color: #4caf50;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-group .required {
    color: red;
}

.form-group input {
    width: calc(100% - 22px); /* Adjust width to fit within the container */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
    box-sizing: border-box; /* Ensure padding is included in the width */
}

.form-group input:focus {
    border-color: #4caf50;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #45a049;
}

.forgot-password {
    text-align: right;
    margin-top: 10px;
}

.forgot-password a {
    color: #4caf50;
    text-decoration: none;
    transition: color 0.3s;
}

.forgot-password a:hover {
    color: #388e3c;
}